<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/359a4ab6-ad64-419a-bab7-471cfd39c0d2/resourceGroups/CognizantEAuction/providers/Microsoft.ContainerRegistry/registries/eaution</ResourceId>
    <ResourceName>eaution</ResourceName>
    <ResourceGroup>CognizantEAuction</ResourceGroup>
    <Subscription>production: Banked Account rd7Oi</Subscription>
    <RegistryUrl>https://eaution.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ad3372be-2a8a-467e-abb7-65739e5265a3</ProjectGuid>
  </PropertyGroup>
</Project>